node_modules
.env
*.db
private/*
lib/git
archive.ts
output.md
redis/*
wiki/*
bun.lockb
seed
api
packages/git
packages/other
deno
docs/private-todo.md
dist
packages/solid
run.ts
wip.json
wip.md
bun.lockb
*.gz
